In [1]:
import re
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text
from datetime import datetime

In [2]:
RAW_CSV = 'data/Luxury_Housing_Bangalore.csv' 
CLEANED_CSV = 'data/Cleaned_Luxury_Housing_Bangalore.csvv'
DB_URL = 'mysql+pymysql://root:kishan21@localhost:3306/realestate_db'
TABLE_NAME = 'realestate_project'

In [3]:
# Read the raw CSV file
raw_path = 'data/Luxury_Housing_Bangalore.csv'
df = pd.read_csv(raw_path)
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [4]:
# Cell: Check null values in the dataset
print("üîç Checking NULL values in each column:\n")
null_counts = df.isna().sum().sort_values(ascending=False)
display(null_counts)

üîç Checking NULL values in each column:

Buyer_Comments          18287
Amenity_Score           10090
Unit_Size_Sqft          10046
Ticket_Price_Cr         10019
Micro_Market                0
Property_ID                 0
Configuration               0
Transaction_Type            0
Developer_Name              0
Project_Name                0
Purchase_Quarter            0
Buyer_Type                  0
Possession_Status           0
Connectivity_Score          0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
dtype: int64

In [5]:
print("\nTotal NULL cells:", df.isna().sum().sum())
print("\nPercentage NULL per column:")
display((df.isna().mean() * 100).round(2))

Total NULL cells: 48442

Percentage NULL per column:

Property_ID              0.00
Micro_Market             0.00
Project_Name             0.00
Developer_Name           0.00
Unit_Size_Sqft           9.95
Configuration            0.00
Ticket_Price_Cr          9.92
Transaction_Type         0.00
Buyer_Type               0.00
Purchase_Quarter         0.00
Connectivity_Score       0.00
Amenity_Score            9.99
Possession_Status        0.00
Sales_Channel            0.00
NRI_Buyer                0.00
Locality_Infra_Score     0.00
Avg_Traffic_Time_Min     0.00
Buyer_Comments          18.11
dtype: float64

In [6]:
import re
import numpy as np
import pandas as pd

def clean_price(x):
    if pd.isna(x):
        return np.nan

    x = str(x)

    # Remove currency symbols, commas
    x = x.replace("‚Çπ", "")
    x = x.replace(",", "").strip()

    # Remove "Cr" or "cr" or "CR" etc. using regex
    x = re.sub(r"\s*[cC][rR]\s*", "", x)

    # Remove any remaining alphabets
    x = re.sub(r"[A-Za-z]", "", x)

    # Strip spaces again
    x = x.strip()

    try:
        return float(x)
    except:
        return np.nan

df['Ticket_Price_Cr'] = df['Ticket_Price_Cr'].apply(clean_price)

df['Ticket_Price_Cr'].head()

0    12.750846
1    16.292152
2    10.517724
3     9.396367
4    15.345392
Name: Ticket_Price_Cr, dtype: float64

In [7]:
# Cell: Impute null values properly

# 1. Amenity_Score ‚Üí fill with median
if 'Amenity_Score' in df.columns:
    median_amen = df['Amenity_Score'].median()
    df['Amenity_Score'] = df['Amenity_Score'].fillna(median_amen)
    print(f"Filled Amenity_Score nulls with median = {median_amen}")

# 2. Unit_Size_Sqft ‚Üí fill with median
if 'Unit_Size_Sqft' in df.columns:
    median_unit = df['Unit_Size_Sqft'].median()
    df['Unit_Size_Sqft'] = df['Unit_Size_Sqft'].fillna(median_unit)
    print(f"Filled Unit_Size_Sqft nulls with median = {median_unit}")

# 3. Ticket_Price_Cr ‚Üí fill with median
if 'Ticket_Price_Cr' in df.columns:
    median_price = df['Ticket_Price_Cr'].median()
    df['Ticket_Price_Cr'] = df['Ticket_Price_Cr'].fillna(median_price)
    print(f"Filled Ticket_Price_Cr nulls with median = {median_price}")

# 4. Buyer_Comments ‚Üí keep NULL or replace with 'No comments'
df['Buyer_Comments'] = df['Buyer_Comments'].fillna('No comments')

# Recheck NULLs
print("\nüîÅ After Cleaning ‚Äî Remaining NULL values:")
display(df.isna().sum())

Filled Amenity_Score nulls with median = 7.4991227969956995
Filled Unit_Size_Sqft nulls with median = 5990.0
Filled Ticket_Price_Cr nulls with median = 12.037646534800139

üîÅ After Cleaning ‚Äî Remaining NULL values:

Property_ID             0
Micro_Market            0
Project_Name            0
Developer_Name          0
Unit_Size_Sqft          0
Configuration           0
Ticket_Price_Cr         0
Transaction_Type        0
Buyer_Type              0
Purchase_Quarter        0
Connectivity_Score      0
Amenity_Score           0
Possession_Status       0
Sales_Channel           0
NRI_Buyer               0
Locality_Infra_Score    0
Avg_Traffic_Time_Min    0
Buyer_Comments          0
dtype: int64

In [8]:
if 'Unit_Size_Sqft' in df.columns:
    df['Unit_Size_Sqft'] = pd.to_numeric(df['Unit_Size_Sqft'], errors='coerce')
else:
    raise KeyError("Expected column 'Unit_Size_Sqft' not found in df.")

if 'Ticket_Price_Cr' in df.columns:
    # If not numeric already, try numeric coercion (we cleaned earlier, but be safe)
    df['Ticket_Price_Cr'] = pd.to_numeric(df['Ticket_Price_Cr'], errors='coerce')
else:
    raise KeyError("Expected column 'Ticket_Price_Cr' not found in df.")

In [9]:
df['price_inr'] = np.nan
mask_price = df['Ticket_Price_Cr'].notna()
df.loc[mask_price, 'price_inr'] = df.loc[mask_price, 'Ticket_Price_Cr'] * 1e7
print(f"Derived price_inr for {mask_price.sum()} rows (converted from crores).")

Derived price_inr for 101000 rows (converted from crores).

In [10]:
# --- 3) Derive price_per_sqft (INR per sqft) safely ---
df['price_per_sqft'] = np.nan
mask_pps = df['price_inr'].notna() & df['Unit_Size_Sqft'].notna() & (df['Unit_Size_Sqft'] > 0)
df.loc[mask_pps, 'price_per_sqft'] = df.loc[mask_pps, 'price_inr'] / df.loc[mask_pps, 'Unit_Size_Sqft']
print(f"Computed price_per_sqft for {mask_pps.sum()} rows. Remaining rows will have NaN.")

# Optionally, create a human-friendly column in lakhs per sqft (if you prefer)
df['price_per_sqft_lakh'] = np.nan
df.loc[mask_pps, 'price_per_sqft_lakh'] = df.loc[mask_pps, 'price_per_sqft'] / 1e5  # 1 lakh = 1e5 INR

Computed price_per_sqft for 100495 rows. Remaining rows will have NaN.

In [11]:
if 'Purchase_Quarter' in df.columns:
    # Try coercion to datetime (sample shows YYYY-MM-DD strings)
    df['purchase_quarter_dt'] = pd.to_datetime(df['Purchase_Quarter'], errors='coerce')
    parsed = df['purchase_quarter_dt'].notna().sum()
    print(f"Parsed Purchase_Quarter to datetime for {parsed} rows (others are NaT).")
    df['quarter_number'] = df['purchase_quarter_dt'].dt.quarter
    df['purchase_year'] = df['purchase_quarter_dt'].dt.year
else:
    print("Column 'Purchase_Quarter' not found; skipping quarter derivation.")

Parsed Purchase_Quarter to datetime for 101000 rows (others are NaT).

In [12]:
today = pd.Timestamp.now()
if 'purchase_quarter_dt' in df.columns:
    df['booking_flag'] = np.nan
    mask_dt = df['purchase_quarter_dt'].notna()
    df.loc[mask_dt, 'booking_flag'] = (df.loc[mask_dt, 'purchase_quarter_dt'] <= today).astype(int)
    print(f"Derived booking_flag for {mask_dt.sum()} rows (1=booked on/before {today.date()}, 0=future).")
else:
    print("purchase_quarter_dt missing; booking_flag not derived.")

Derived booking_flag for 101000 rows (1=booked on/before 2025-11-13, 0=future).

In [13]:
print("\n--- Summary (new/important cols) ---")
summary_cols = ['Ticket_Price_Cr', 'price_inr', 'Unit_Size_Sqft', 'price_per_sqft', 'price_per_sqft_lakh',
                'Purchase_Quarter', 'purchase_quarter_dt', 'quarter_number', 'purchase_year', 'booking_flag']
summary_cols = [c for c in summary_cols if c in df.columns]
display(df[summary_cols].head(10))

print("\nNull counts for derived cols:")
display(df[summary_cols].isna().sum())

--- Summary (new/important cols) ---

,Ticket_Price_Cr,price_inr,Unit_Size_Sqft,price_per_sqft,price_per_sqft_lakh,Purchase_Quarter,purchase_quarter_dt,quarter_number,purchase_year,booking_flag
0,12.750846,1.275085e+08,4025.0,31679.120594,0.316791,2025-03-31,2025-03-31,1,2025,1.0
1,16.292152,1.629215e+08,5760.0,28284.985887,0.282850,2024-06-30,2024-06-30,2,2024,1.0
2,10.517724,1.051772e+08,7707.0,13646.976013,0.136470,2023-12-31,2023-12-31,4,2023,1.0
3,9.396367,9.396367e+07,6192.0,15175.012103,0.151750,2024-03-31,2024-03-31,1,2024,1.0
4,15.345392,1.534539e+08,7147.0,21471.096187,0.214711,2024-12-31,2024-12-31,4,2024,1.0
5,9.820000,9.820000e+07,4290.0,22890.442890,0.228904,2023-09-30,2023-09-30,3,2023,1.0
6,10.896752,1.089675e+08,6776.0,16081.393675,0.160814,2025-03-31,2025-03-31,1,2025,1.0
7,9.357539,9.357539e+07,5763.0,16237.270421,0.162373,2025-03-31,2025-03-31,1,2025,1.0
8,12.299449,1.229945e+08,5815.0,21151.245761,0.211512,2024-03-31,2024-03-31,1,2024,1.0
9,9.193310,9.193310e+07,8675.0,10597.475826,0.105975,2023-09-30,2023-09-30,3,2023,1.0

Null counts for derived cols:

Ticket_Price_Cr          0
price_inr                0
Unit_Size_Sqft           0
price_per_sqft         505
price_per_sqft_lakh    505
Purchase_Quarter         0
purchase_quarter_dt      0
quarter_number           0
purchase_year            0
booking_flag             0
dtype: int64

In [14]:

# Helpful checks for outliers (optional)
if 'price_per_sqft' in df.columns:
    print("\nPrice per sqft stats (INR):")
    display(df['price_per_sqft'].describe())

Price per sqft stats (INR):

count    100495.000000
mean      22928.996260
std       15436.796310
min       -3533.217218
25%       15619.476403
50%       20096.237955
75%       26572.825927
max      324359.390204
Name: price_per_sqft, dtype: float64

In [15]:
# Export the fully cleaned dataframe (df) to CSV

CLEANED_FULL_CSV = 'data/Cleaned_Luxury_Housing_Bangalore_final.csv'

df.to_csv(CLEANED_FULL_CSV, index=False)

print(f"‚úÖ Full cleaned CSV saved successfully at: {CLEANED_FULL_CSV}")
print(f"Rows: {len(df)}, Columns: {len(df.columns)}")

‚úÖ Full cleaned CSV saved successfully at: data/Cleaned_Luxury_Housing_Bangalore_final.csv
Rows: 101000, Columns: 25

In [16]:
clean_path = 'data/Cleaned_Luxury_Housing_Bangalore_final.csv'

clean_df = pd.read_csv(clean_path)

print("‚úÖ Cleaned CSV loaded successfully!")
print("Rows:", len(clean_df))
print("Columns:", len(clean_df.columns))

‚úÖ Cleaned CSV loaded successfully!
Rows: 101000
Columns: 25

In [17]:
print("\nüîç NULL value check:")
display(clean_df.isna().sum().sort_values(ascending=False))

üîç NULL value check:

price_per_sqft          505
price_per_sqft_lakh     505
Project_Name              0
Micro_Market              0
Unit_Size_Sqft            0
Configuration             0
Ticket_Price_Cr           0
Developer_Name            0
Property_ID               0
Buyer_Type                0
Transaction_Type          0
Purchase_Quarter          0
Connectivity_Score        0
Sales_Channel             0
NRI_Buyer                 0
Amenity_Score             0
Possession_Status         0
Avg_Traffic_Time_Min      0
Locality_Infra_Score      0
price_inr                 0
Buyer_Comments            0
purchase_quarter_dt       0
quarter_number            0
purchase_year             0
booking_flag              0
dtype: int64

In [18]:
clean_df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,...,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments,price_inr,price_per_sqft,price_per_sqft_lakh,purchase_quarter_dt,quarter_number,purchase_year,booking_flag
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846,Primary,NRI,2025-03-31,...,9.212491,18,Loved the amenities!,1.275085e+08,31679.120594,0.316791,2025-03-31,1,2025,1.0
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292152,Primary,Other,2024-06-30,...,7.723898,106,No comments,1.629215e+08,28284.985887,0.282850,2024-06-30,2,2024,1.0
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724,Primary,HNI,2023-12-31,...,6.985493,113,Agent was not responsive.,1.051772e+08,13646.976013,0.136470,2023-12-31,4,2023,1.0
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367,Primary,HNI,2024-03-31,...,6.100929,106,Excellent location!,9.396367e+07,15175.012103,0.151750,2024-03-31,1,2024,1.0
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392,Secondary,HNI,2024-12-31,...,5.312510,18,Too far from my office.,1.534539e+08,21471.096187,0.214711,2024-12-31,4,2024,1.0

In [19]:
# Find exactly why price_per_sqft is null
null_pps = clean_df[clean_df['price_per_sqft'].isna()]

print("Rows with null price_per_sqft:", len(null_pps))

# Check unit sizes for issues
print("\nUnit_Size_Sqft stats where price_per_sqft is null:")
display(null_pps['Unit_Size_Sqft'].describe())

# See how many have zero area
zero_area = (null_pps['Unit_Size_Sqft'] == 0).sum()
print("Rows where Unit_Size_Sqft == 0:", zero_area)

# Check if price_inr is zero
zero_price = (null_pps['price_inr'] == 0).sum()
print("Rows where price_inr == 0:", zero_price)

Rows with null price_per_sqft: 505

Unit_Size_Sqft stats where price_per_sqft is null:

count    505.0
mean      -1.0
std        0.0
min       -1.0
25%       -1.0
50%       -1.0
75%       -1.0
max       -1.0
Name: Unit_Size_Sqft, dtype: float64

Rows where Unit_Size_Sqft == 0: 0
Rows where price_inr == 0: 0

In [20]:
# Fix invalid area values (-1)
invalid_mask = (clean_df['Unit_Size_Sqft'] == -1)

# Calculate median only from valid areas (>0)
valid_median = clean_df.loc[clean_df['Unit_Size_Sqft'] > 0, 'Unit_Size_Sqft'].median()

print("Replacing -1 with median Unit_Size_Sqft =", valid_median)

# Replace -1 with median
clean_df.loc[invalid_mask, 'Unit_Size_Sqft'] = valid_median

# Recompute price_per_sqft safely
clean_df['price_per_sqft'] = clean_df['price_inr'] / clean_df['Unit_Size_Sqft']

# Recompute lakh version
clean_df['price_per_sqft_lakh'] = clean_df['price_per_sqft'] / 1e5

print("\nFix Applied Successfully!")
print("NULLs After Recalculation:")
print(clean_df['price_per_sqft'].isna().sum())

Replacing -1 with median Unit_Size_Sqft = 5990.0

Fix Applied Successfully!
NULLs After Recalculation:
0

In [21]:
# Re-export the fully cleaned dataframe (clean_df) to CSV

FINAL_CSV_PATH = 'data/Cleaned_Luxury_Housing_Bangalore_final.csv'

clean_df.to_csv(FINAL_CSV_PATH, index=False)

print("‚úÖ Final cleaned CSV exported successfully!")
print("üìç Location:", FINAL_CSV_PATH)
print("Rows:", len(clean_df), " | Columns:", len(clean_df.columns))

‚úÖ Final cleaned CSV exported successfully!
üìç Location: data/Cleaned_Luxury_Housing_Bangalore_final.csv
Rows: 101000  | Columns: 25

In [22]:
# Load final cleaned CSV
clean_path = 'data/Cleaned_Luxury_Housing_Bangalore_final.csv'
final_df = pd.read_csv(clean_path)

print("‚úÖ Final cleaned CSV loaded!")
print("Rows:", len(final_df))
print("Columns:", len(final_df.columns))

# ----------------------- NULL CHECK -----------------------
print("\nüîç NULL VALUES PER COLUMN:")
null_counts = final_df.isna().sum().sort_values(ascending=False)
display(null_counts)

print("\nTOTAL NULL CELLS:", final_df.isna().sum().sum())

# ----------------------- SUMMARY STATS -----------------------
print("\nüìä SUMMARY STATISTICS (NUMERIC FEATURES):")
display(final_df.describe())

print("\nüìä SUMMARY (NON-NUMERIC FEATURES):")
display(final_df.describe(include='object'))

# ----------------------- DATA TYPES -----------------------
print("\nüîß DATA TYPES:")
display(final_df.dtypes)

# ----------------------- DERIVED COLUMN CHECK -----------------------
derived_cols = [
    'price_inr', 
    'price_per_sqft', 
    'price_per_sqft_lakh', 
    'purchase_quarter_dt', 
    'quarter_number', 
    'purchase_year', 
    'booking_flag'
]

print("\nüîç DERIVED COLUMN EXISTENCE CHECK:")
for col in derived_cols:
    if col in final_df.columns:
        print(f"‚úî {col} exists")
    else:
        print(f"‚ùå {col} missing ‚Äî should not happen!")

# ----------------------- LOGICAL CHECKS -----------------------
print("\nüß† LOGICAL CHECKS:")

# price_per_sqft must be positive
invalid_pps = (final_df['price_per_sqft'] <= 0).sum()
print(f"‚Ä¢ price_per_sqft <= 0: {invalid_pps} rows")

# Unit size must be positive
invalid_area = (final_df['Unit_Size_Sqft'] <= 0).sum()
print(f"‚Ä¢ Unit_Size_Sqft <= 0: {invalid_area} rows")

# Quarter should be 1‚Äì4
if 'quarter_number' in final_df.columns:
    bad_quarter = final_df[~final_df['quarter_number'].between(1, 4)].shape[0]
    print(f"‚Ä¢ Bad quarter_number values: {bad_quarter} rows")

# Booking flag must be 0 or 1
if 'booking_flag' in final_df.columns:
    bad_booking = final_df[~final_df['booking_flag'].isin([0, 1])].shape[0]
    print(f"‚Ä¢ Invalid booking_flag values: {bad_booking} rows")

‚úÖ Final cleaned CSV loaded!
Rows: 101000
Columns: 25

üîç NULL VALUES PER COLUMN:

Property_ID             0
Micro_Market            0
Project_Name            0
Developer_Name          0
Unit_Size_Sqft          0
Configuration           0
Ticket_Price_Cr         0
Transaction_Type        0
Buyer_Type              0
Purchase_Quarter        0
Connectivity_Score      0
Amenity_Score           0
Possession_Status       0
Sales_Channel           0
NRI_Buyer               0
Locality_Infra_Score    0
Avg_Traffic_Time_Min    0
Buyer_Comments          0
price_inr               0
price_per_sqft          0
price_per_sqft_lakh     0
purchase_quarter_dt     0
quarter_number          0
purchase_year           0
booking_flag            0
dtype: int64

TOTAL NULL CELLS: 0

üìä SUMMARY STATISTICS (NUMERIC FEATURES):

,Unit_Size_Sqft,Ticket_Price_Cr,Connectivity_Score,Amenity_Score,Locality_Infra_Score,Avg_Traffic_Time_Min,price_inr,price_per_sqft,price_per_sqft_lakh,quarter_number,purchase_year,booking_flag
count,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,101000.000000,1.010000e+05,101000.000000,101000.000000,101000.000000,101000.000000,101000.0
mean,6003.992812,12.650813,6.992619,7.503209,7.498426,67.182921,1.265081e+08,22919.759062,0.229198,2.498317,2023.749485,1.0
std,1638.529630,7.278500,1.731757,1.366898,1.443128,30.271611,7.278500e+07,15422.128114,0.154221,1.117471,0.660227,0.0
min,3000.000000,-1.420000,4.000031,5.000224,5.000013,15.000000,-1.420000e+07,-3533.217218,-0.035332,1.000000,2023.000000,1.0
25%,4683.000000,10.264053,5.494526,6.395110,6.247954,41.000000,1.026405e+08,15627.026771,0.156270,1.000000,2023.000000,1.0
50%,5990.000000,12.037647,6.985805,7.499123,7.495614,67.000000,1.203765e+08,20096.237955,0.200962,2.000000,2024.000000,1.0
75%,7332.000000,13.830031,8.490000,8.616106,8.749824,93.000000,1.383003e+08,26543.471951,0.265435,3.000000,2024.000000,1.0
max,8999.000000,100.000000,9.999970,9.999865,9.999956,119.000000,1.000000e+09,324359.390204,3.243594,4.000000,2025.000000,1.0

üìä SUMMARY (NON-NUMERIC FEATURES):

,Property_ID,Micro_Market,Project_Name,Developer_Name,Configuration,Transaction_Type,Buyer_Type,Purchase_Quarter,Possession_Status,Sales_Channel,NRI_Buyer,Buyer_Comments,purchase_quarter_dt
count,101000,101000,101000,101000,101000,101000,101000,101000,101000,101000,101000,101000,101000
unique,100000,48,500,11,9,2,5,8,3,4,2,10,8
top,PROP022002,Jayanagar,Project_27,Prestige,5Bhk+,Secondary,CXO,2024-03-31,Under construction,Online,no,No comments,2024-03-31
freq,2,2176,207,9318,11375,50506,20340,12750,33769,25411,50516,18287,12750

üîß DATA TYPES:

Property_ID              object
Micro_Market             object
Project_Name             object
Developer_Name           object
Unit_Size_Sqft          float64
Configuration            object
Ticket_Price_Cr         float64
Transaction_Type         object
Buyer_Type               object
Purchase_Quarter         object
Connectivity_Score      float64
Amenity_Score           float64
Possession_Status        object
Sales_Channel            object
NRI_Buyer                object
Locality_Infra_Score    float64
Avg_Traffic_Time_Min      int64
Buyer_Comments           object
price_inr               float64
price_per_sqft          float64
price_per_sqft_lakh     float64
purchase_quarter_dt      object
quarter_number            int64
purchase_year             int64
booking_flag            float64
dtype: object

üîç DERIVED COLUMN EXISTENCE CHECK:
‚úî price_inr exists
‚úî price_per_sqft exists
‚úî price_per_sqft_lakh exists
‚úî purchase_quarter_dt exists
‚úî quarter_number exists
‚úî purchase_year exists
‚úî booking_flag exists

üß† LOGICAL CHECKS:
‚Ä¢ price_per_sqft <= 0: 5 rows
‚Ä¢ Unit_Size_Sqft <= 0: 0 rows
‚Ä¢ Bad quarter_number values: 0 rows
‚Ä¢ Invalid booking_flag values: 0 rows

In [1]:
from sqlalchemy import create_engine, text

# MySQL connection
DB_URL = "mysql+mysqlconnector://root:kishan21@localhost:3306/realestate_db"

engine = create_engine(DB_URL)

create_table_sql = """
DROP TABLE IF EXISTS `realestate_project`;

CREATE TABLE `realestate_project` (

  `Property_ID` VARCHAR(50) NOT NULL,
  
  `Project_Name` VARCHAR(255),
  `Developer_Name` VARCHAR(255),
  `Micro_Market` VARCHAR(255),
  
  `Configuration` VARCHAR(50),
  `Unit_Size_Sqft` DOUBLE,
  
  `Ticket_Price_Cr` DOUBLE,
  `price_inr` DOUBLE,
  `price_per_sqft` DOUBLE,
  `price_per_sqft_lakh` DOUBLE,

  `Transaction_Type` VARCHAR(100),
  `Buyer_Type` VARCHAR(100),

  `Purchase_Quarter` VARCHAR(50),
  `purchase_quarter_dt` DATETIME,
  `quarter_number` INT,
  `purchase_year` INT,
  `booking_flag` TINYINT(1),

  `Connectivity_Score` DOUBLE,
  `Amenity_Score` DOUBLE,
  `Locality_Infra_Score` DOUBLE,
  `Avg_Traffic_Time_Min` DOUBLE,

  `Possession_Status` VARCHAR(100),
  `Sales_Channel` VARCHAR(100),

  `NRI_Buyer` VARCHAR(10),
  `nri_buyer_bool` TINYINT(1),

  `Buyer_Comments` TEXT,

  PRIMARY KEY (`Property_ID`)

) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
"""

# Execute the SQL
with engine.begin() as conn:
    conn.execute(text(create_table_sql))

print("‚úÖ Table 'realestate_project' created successfully in MySQL!")

:

In [2]:
import sys, shutil, importlib, traceback

print("Python executable:", sys.executable)
print("Python version:", sys.version)
print("Notebook platform:", sys.platform)

def check_pkg(name):
    try:
        m = importlib.import_module(name)
        print(f"{name}: INSTALLED, version:", getattr(m, "__version__", "unknown"))
    except Exception as e:
        print(f"{name}: NOT INSTALLED ({e.__class__.__name__})")

for pkg in ("cryptography", "pymysql", "mysql.connector", "mysql", "mysql.connector"):
    check_pkg(pkg)

Python executable: c:\Users\Kishan021\Desktop\House analysis\.venv\Scripts\python.exe
Python version: 3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]
Notebook platform: win32
cryptography: INSTALLED, version: 46.0.3
pymysql: INSTALLED, version: 1.4.6
mysql.connector: INSTALLED, version: 9.5.0
mysql: INSTALLED, version: unknown
mysql.connector: INSTALLED, version: 9.5.0

In [3]:
# Cell A: Test DB connection using mysql-connector
from sqlalchemy import create_engine, text
import traceback

DB_URL = "mysql+mysqlconnector://root:kishan21@localhost:3306/realestate_db"
print("Testing DB_URL:", DB_URL)

try:
    engine = create_engine(DB_URL, pool_pre_ping=True, connect_args={"connect_timeout":5})
    with engine.connect() as conn:
        res = conn.execute(text("SELECT 1 AS ok"))
        print("Connection test result:", res.fetchone())
    print("‚úÖ Connection test succeeded.")
except Exception as e:
    print("‚ùå Connection test failed. Exception below:")
    traceback.print_exc()
    print("\nHints:")
    print(" - If auth errors appear, ensure 'root' user credentials and host are correct.")
    print(" - If connection refused, make sure MySQL server is running and listening on 3306.")
    print(" - If using a different user/host/port, update DB_URL accordingly.")

:

In [1]:
# Test DB connection using mysql-connector (safe alternative to pymysql)
from sqlalchemy import create_engine, text
import traceback

DB_URL = "mysql+mysqlconnector://root:kishan21@localhost:3306/realestate_db"
print("Testing DB_URL:", DB_URL)

try:
    engine = create_engine(DB_URL, pool_pre_ping=True, connect_args={"connect_timeout":5})
    with engine.connect() as conn:
        res = conn.execute(text("SELECT 1 AS ok"))
        print("Connection test result:", res.fetchone())
    print("‚úÖ Connection test succeeded.")
except Exception as e:
    print("‚ùå Connection test failed. Exception below:")
    traceback.print_exc()
    print("\nHints:")
    print(" - If auth errors appear, verify MySQL user 'root' credentials.")
    print(" - If connection refused, ensure MySQL is running and listening on 3306.")

:

In [1]:
# Step 1: check if MySQL port 3306 is open (safe, no DB auth)
import socket, sys
host = "127.0.0.1"
port = 3306
s = socket.socket(socket.AF_INET, socket.SOCK_STREAM)
s.settimeout(3)
try:
    s.connect((host, port))
    print(f"OK: {host}:{port} is reachable (something is listening).")
except Exception as e:
    print(f"NOT REACHABLE: Could not connect to {host}:{port} ->", e)
finally:
    s.close()

OK: 127.0.0.1:3306 is reachable (something is listening).